@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body, html {
    @apply bg-chocolate
  }
  body, html {
    @apply font-barlow
  }
  body, html {
    @apply text-whip-cream
  }
}

body, html {
  height: 100%;
  width: 100%;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.editor-placeholder {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 8px;
  left: 8px;
  font-size: 1rem;
  user-select: none;
  display: inline-block;
  pointer-events: none;
  font-style: italic;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-listitem {
  margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}
